* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

a {
  transition: all 300ms ease;
}

/* NAVIGATION */
nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.2rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: #fff;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: #F1C93B;
}

.logo img {
  margin-top: 20px;
  height: 120px;
  width: auto;
}

span {
  font-weight: bolder;
  color: #FFC700;
}

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  min-height: fit-content;
}

.section-container {
  display: flex;
  gap: 4rem;
  height: 80%;
}

/* PROFILE SECTION */
#profile {
  display: flex;
  justify-content: center;
  gap: 20rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 300px;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.intro1 {
  text-align: center;
}

.intro2 {
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

.socials-container {
  display: flex;
  gap: 7px;
  font-size: 20px;
}

.btn-group {
  margin: 25px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-group .btn {
  border-color: #F1C93B;
  color: #000;
  background-color: #F5F7F8;
  padding: 12px 15px;
  border-radius: 10px;
  border: 2px solid #F1C93B;
}

.btn-group .btn:hover {
  background-color: #F1C93B;
  color: white;
  border-color: #F1C93B;
}

.btn-group1 {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.btn-group1 .btn {
  border-color: #F1C93B;
  color: #000;
  background-color: #F5F7F8;
  padding: 10px 18px;
  border-radius: 10px;
  border: 2px solid #F1C93B;
}

.btn-group1 .btn:hover {
  background-color: #F1C93B;
  color: white;
  border-color: #F1C93B;
}

/* ABOUT SECTION */
#about {
  position: relative;
  margin-top: 70px;
}

.about-containers {
  gap: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 10rem;
  margin-top: 40px;
  height: 80%;
  filter: drop-shadow(-16px -18px 0px #F1C93B);
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  text-align: center;
  border: #F1C93B 0.1rem solid;
}

.text-container p {
  font-size: 15px;
  text-align: justify;
}

/* EXPERIENCE SECTION */
#experience {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 130px;
}

.serv-list {
  display: grid;
  gap: 80px;
  grid-template-columns: repeat(3, 2fr);
}

.lists {
  width: 90%;
  position: relative;
  margin-top: 60px;
}

.serv {
  width: 220px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 2px solid #F1C93B;
  border-radius: 10px;
  background: transparent;
  position: relative;
  box-shadow: 0 20px 10px #F4CE14;
}

.serv-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  margin-bottom: 7px;
  margin-top: 5px;
}

.serv img {
  width: 70px;
  height: 70px;
  position: absolute;
  top: -40px;
  margin-bottom: 10px;
  box-shadow: 0px 15px 20px 0px #F4CE14;
  background: transparent;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
}

.serv-title h1 {
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 16px;
}

.serv-desc {
  text-align: center;
  text-decoration: none;
  font-size: 15px;
}

/* PROJECT SECTIONS */
.projects {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  gap: 1.5rem;
}

.project {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
}

.projects-img {
  width: 50%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.carousel {
  display: flex;
  transition: transform 1s ease;
  height: 100%;
}

.carousel img {
  width: 100%;
  height: 120%;
  border-radius: 0.5rem;
  flex-shrink: 0;
  object-fit: cover;
}

.projects-desc {
  width: 50%;
}

.projects-desc h2 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bolder;
}

.projects-desc p {
  text-align: justify;
  margin-top: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
}

/* CONTACT SECTION */
#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: #F1C93B;
  background: rgb(250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */
footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}

@media (max-width: 768px) {
  section {
      margin: 0 2rem;
  }

  #profile {
      gap: 2rem;
      height: auto;
  }

  .section__pic-container {
    height: 250px;
    width: 200px;
  }

  .details-container {
    padding: 1.1rem;
    font-size: 12px;
  }

  .text-container p {
    font-size: 13px;
  }

  .intro2 {
      font-size: 1.25rem;
  }

  .title {
      font-size: 2rem;
  }

  .btn-group{
      gap: 0.5rem;
      font-size: 12px;
      margin-left: 50px;
  }

  .btn-group1 {
    font-size: 12px;
  }

  .about-containers {
      gap: 0.5rem;
  }

  .about-pic {
      height: 90%;
  }

  .serv-list {
      gap: 40px;
      grid-template-columns: repeat(2, 1fr);
  }

  .project {
      gap: 1rem;
  }

  .projects-img {
      height: 200px;
  }

  #contact {
      height: auto;
  }

  footer {
      height: auto;
      margin: 0;
      margin-bottom: 50px;
  }
}
